html {
	font-family: monospace;
}

body {
	color:#FFFFFF;
	background-color: #48465D;
}

p {
	text-align: left;
	font-size: 20pt;
}

:any-link {
	color: #FFFFFF;
    text-decoration: none;
}
h1 {
	text-align: center;
	font-size:50px
}

.retour {
	text-align: left;
	font-size:75px ;
}
h2 {
	text-align: left;
	font-size: 40px;
}

.par {
	text-decoration: underline;
	font-size: 20px;
	text-align: right;
}
